<a href="https://colab.research.google.com/github/SergeiICHI/python/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.shape #размер

In [44]:
df.head() #начало

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
df.tail() #конец

In [ ]:
df.isnull().sum() #проверяем пустые строки

In [ ]:
df.dtypes #Тип данных каждого столбца

In [21]:
df.columns #Список столбцов

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [23]:
tb = df['total_bedrooms'] # присваиваем переменной столбик значений

In [25]:
tb.sum() #сумма всех значений столбца

9169984.0

In [37]:
yes = df[['longitude', 'population']] # выводим 2 столбца

In [ ]:
yes

- Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [125]:
df[df['population'] < 500]['median_house_value'].mean() # Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

206683.83635227982

- Задача 42: Узнать какая максимальная households в зоне минимального значения population.

In [135]:
df['population'].min()

3.0

In [137]:
df[df['population'] == 3]['households'].max()

4.0